---
import HeadIcons from "~components/HeadIcons.astro"
import HeadMetaEn from "~components/en/HeadMeta.astro"

const redirectMessage: string = "redirecting..."
---

<html lang={Astro.currentLocale}>
  <title>{redirectMessage}</title>
  <HeadMetaEn />
  <HeadIcons />
  <body>{redirectMessage}</body>
</html>

<script>
  import { type TLocale, getLocale, setLocale } from "~/i18n"

  const locale: TLocale = getLocale()
  setLocale(locale)
  const url: string = `${window.location.origin}/${locale}/404`
  window.location.href = url
</script>
